{% include "header.html" %}
        <!-- End of Sidebar -->

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">
    
                <div class="col-xl-10 col-lg-12 col-md-9">
    
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Insert New Record</h1>
                                        </div>
                                        <form class = "user" action="" method="post">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="bname" name="bname" placeholder="Enter Branch Name" value="{{ master_update_table.bname }}">
                                            </div>
                                            <div class="form-group">
                                                <!-- <input type="text" class="form-control form-control-user"
                                                    id="Status" name = "Status" placeholder="Status"> -->
                                                    <label for="hid">Choose a User Type :</label>
                                                    <select name="hid" id="hid">
                                                        {% for i in staff_display %}
                                                        <option value="{{ i.id }}">{{ i.sname }}
                                                            {% endfor %}
                                                        </option>
                                                        </select>
                                            </div>
                                            <!-- <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="email" name="email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control form-control-user"
                                                    id="phone" name="phone" placeholder="Phone No.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="desig" name="desig" placeholder="Designation">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="cname" name="cname" placeholder="Company Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="descri" name="descri" placeholder="Description">
                                            </div> -->
                                                    

                                            <!-- <div class="form-group">
                                                <input type="datetime-local" class="form-control form-control-user"
                                                    id="Created_At" name="Created_At" placeholder="Created_At">
                                            </div>
                                            <div class="form-group">
                                                <input type="datetime-local" class="form-control form-control-user"
                                                    id="Updated_At" name = "Updated_At" placeholder="Updated_At">
                                            </div> -->
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <!-- <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Remember
                                                        Me</label> -->
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Submit
                                            </button>
                                            <!-- <hr>
                                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Login with Google
                                            </a>
                                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                            </a> -->
                                        </form>
                                        <hr>
                                        <!-- <div class="text-center">
                                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="register.html">Create an Account!</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!-- <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer> -->
        <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

</body>

</html>