{% include "header.html" %}
        <!-- End of Sidebar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Workload Management</h1>
                   <!-- <p> <a href="/workload_insert" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user fa-sm text-white-50"></i> Add Record</a></p> -->
                    <!-- <p class="mb-4">Insert New Record <a target="_blank"
                            href="/maincategoryinsert">Click Here</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Workload Management Data</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="form-group">
                                    <!-- <input type="text" class="form-control form-control-user"
                                        id="Status" name = "Status" placeholder="Status"> -->
                                        <form method="post" action="/workload_admin_display">
                                        <label for="user_type">Choose a User :</label>
                                        <select name="id" id="user_type">
                                            <option value="all">All</option>
                                            {% for item in display_1 %}
                                            <option value="{{ item.id }}">{{ item.sname }}</option>
                                            {% endfor %}
                                        </select>
                                     <!-- <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user fa-sm text-white-50"></i> Show</a> -->
                                     <button type="submit">Show Data</button>
                                     </form>
                                </div>
                                {% for item in display %}
                                <table class="table table-bordered"  width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        

                                            <tr>
                                                <th>Monday</th>
                                                
                                                <td>{{item.monday}}</td>
                                                
                                            </tr>
                                            <tr>
                                                <th>Tuesday</th>
                                                <td>{{item.tuesday}}</td>
                                                
                                            </tr>
                                            <tr>
                                                <th>Wednesday</th>
                                                <td>{{item.wednesday}}</td>
                                            </tr>
                                            <tr>
                                                <th>Thursday</th>
                                                <td>{{item.thursday}}</td>
                                            </tr>
                                            <tr>
                                                <th>Friday</th>
                                                <td>{{item.friday}}</td>
                                            </tr>
                                            <tr>
                                                <th>Saturday</th>
                                                <td>{{item.saturday}}</td>
                                            </tr>
                                            <tr>
                                                <th>Sunday</th>
                                                <td>{{item.sunday}}</td>
                                            </tr>
                                        
                                    </tbody>
                                    
                                </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/datatables-demo.js"></script>

</body>

</html>